<div class="master">
    <table>
        <caption class="tableCaption">Customer Information</caption>
        <tr>
            <th>Room Type: </th>
            <td>{{roomType}}</td>
        </tr>
        <tr>
            <th>Check In: </th>
            <td>{{CheckIn}}</td>
        </tr>
        <tr>
            <th>Check Out: </th>
            <td>{{CheckOut}}</td>
        </tr>
        <tr>
            <th>Number of adults: </th>
            <td>{{Adults}}</td>
        </tr>
        <tr>
            <th>Number of children: </th>
            <td>{{Kids}}</td>
        </tr>
        <tr>
            <th>Customer reference: </th>
            <td>{{incNumber}}</td>
        </tr>
    </table>
    <br>
    <div>
        <button class="sizeWidth colorbtn" type="button" (click)="onConfirm()"> Confirm</button>
    </div>
</div>
<!-- <footer class="master footerPos">
    <p>Posted by: Hege Refsnes</p>
    <p>Contact information: <a href="mailto:someone@example.com">
    someone@example.com</a>.</p>
</footer> -->