<!-- content -->
<div class="master">
    <div class="content">
        <h2 class="startH2">Let us inspire you</h2>
    </div>
    <hr>

    <!-- Amenities -->
    <div class="row imgGrid">
        <h4 class="amenH4"><strong>Amenities</strong></h4>
        <div class="grid-container"><br><br>
            <div class="w3-col s6">
                <p><i class="fa fa-fw fa-shower"></i> Shower</p>
                <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
                <p><i class="fa fa-fw fa-tv"></i> TV</p>
            </div>
            <div class="w3-col s6">
                <p><i class="fa fa-fw fa-cutlery"></i> Kitchen</p>
                <p><i class="fa fa-fw fa-thermometer"></i> Heating</p>
                <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
            </div>
        </div>
    </div>
    <hr>
    <!-- photo grid -->

    <div class="row photoGrid">
        <div class="column">
            <img src="/assets/hotel1.jpg" style="width:100%">
            <img src="/assets/hotel11.jpg" style="width:100%">
            <img src="/assets/hotel5.jpg" style="width:100%">

        </div>

        <div class="column">
            <img src="/assets/hotel2.jpg" style="width:100%">
            <img src="/assets/hotel3.jpg" style="width:100%">
            <img src="/assets/hotel10.jpg" style="width:100%">

        </div>

        <div class="column">
            <img src="/assets/hotel9.jpg" style="width:100%">
            <img src="/assets/hotel8.jpg" style="width:100%">
            <img src="/assets/hotel4.jpg" style="width:100%">
            <img src="/assets/hotel13.jpg" style="width:100%">

        </div>

        <div class="column">
            <img src="/assets/hotel6.jpg" style="width:100%">
            <img src="/assets/hotel7.jpg" style="width:100%">
            <img src="/assets/hotel8.jpg" style="width:100%">

        </div>
    </div>
</div>